.edit_form_container{
    width: 86%;
    margin: 0px auto;
    color: red;
    border: 4px double #444444;
    padding: 8px
}

.edit_form{
    display: flex;
    flex-direction: column;
}

.edit_inputs{
    font-size: 16px;
    padding: 6px;
    margin: 8px 0px
}

.edit_button{
    margin-top: 8px;
    padding: 4px;
    font-size: 16px;
    border-radius: 0px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    background: #444444;
    color: #e8e8e8;
    border: none;

}

textarea{
    resize: none
}