.auth_form{
    display: flex;
    width: 75%;
    flex-direction: column;
    padding: 32px;
    margin: 0px auto

}

.auth_inputs{
    padding: 8px 10px;
    border-radius: 0px;
    margin: 12px auto;
    width: 100%;
    font-size: 16px;
    border-width: 1.5px;
    border-color: #444444;
    border: .25px solid

}

.auth_button{
    font-size: 20px;
    padding: 8px 5%;
    width: 100%;
    margin: 12px 0px;
    border-radius: 0px;
     background: #444444;
     color: #f7f7f7;
     border: none;
     font-weight: 900;
     text-transform: capitalize

}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.google_btn{
    padding: 8px;
    font-size: 18px;
    font-weight: 900;
    border-radius: none;
    border: none;
    text-transform: capitalize;
    border: 2px solid #444444;
    background: transparent
}