.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .tab_bar{
    position: absolute;
    bottom: 0
  }

  .nav-container{
    width: 250px !important
  }

  ion-tab-button{
    --padding-bottom: 2px !important
  }
  ion-tab-bar{
    background: #0B666A;
    /* padding-bottom: 0px;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 30px !important */
  }

  ion-toolbar{
    --background: #0B666A
  }

  ion-textarea:focus{
    outline: none;
    border: 1px solid olivedrab !important
  }