.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .add, .cabin, .person, .forum, .search{
    color: #444444 !important;
    font-size: 30px;
    font-size: 32px
  }

  .add{
    font-size: 60px
  }