
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white !important;
}

.pet{
    font-size: 44px;
}

.material-icons {
}

.color{
  color: #ffffff;
  font-size: 24px
}