@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Russo+One&display=swap');

iframe{
  display: none
}

p {
  text-transform: uppercase;
}

.app_title {
  font-family: "Russo One", sans-serif;
}

.note_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 8px;
  padding: 16px;
  font-family: "Open Sans", sans-serif;
}

.note_title {
  font-weight: 600
}
